<form id='eform' class='xg-form'>
    @await Component.InvokeAsync("XiHide", new XiHideDto { Fid = "Id" })

    @await Component.InvokeAsync("XiRead", new XiReadDto { Title = "尋寶名稱", Fid = "Name" })
    @await Component.InvokeAsync("XiRead", new XiReadDto { Title = "開始時間", Fid = "StartTime" })
    @await Component.InvokeAsync("XiRead", new XiReadDto { Title = "結束時間", Fid = "EndTime" })
    @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = "上架狀態", Fid = "LaunchStatus", Required = true, Rows = ViewBag.LaunchStatuses })
    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Title = "資料狀態", Fid = "Status", Label = "啟用", Edit="C" })
    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Title = "是否批次解謎", Fid = "IsBatch", Label = "是", Edit="C" })
    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Title = "是否移動地點", Fid = "IsMove", Label = "是", Edit="C" })
    @await Component.InvokeAsync("XiCheck", new XiCheckDto { Title = "是否獎金", Fid = "IsMoney", Label = "是", Edit="C" })
    @await Component.InvokeAsync("XiRead", new XiReadDto { Title = "獎品內容", Fid = "GiftName" })
    @await Component.InvokeAsync("XiTextarea", new XiTextareaDto { Title = "注意事項", Fid = "Note", MaxLen = 500, Cols = "2,6", Edit="C" })
    @await Component.InvokeAsync("XiRead", new XiReadDto { Title = "關卡數目", Fid = "StageCount" })
    @await Component.InvokeAsync("XiRead", new XiReadDto { Title = "異動日期", Fid = "Revised" })
</form>

@await Component.InvokeAsync("XgSaveBack")
